/* card.css */

.card-container {
  position: relative;
  width: 506px;
  height: 500px; /* Adjust according to the desired card size */
  z-index: 0;
}

.letter-back{
  position: absolute;
  top: 0rem;
  left: 0rem;
  height:auto;
  object-fit: cover;
  z-index: 0;
}

.letter-front {
  position: absolute;
  top: 8.5rem;
  left: -2.5px;
  object-fit: cover;
  z-index: 20;
}

.main-image-container {
    position: absolute;
    top:80px;
    width: 500px; /* Ensure the container takes full width */
    height: 400px; /* Ensure the container takes full height */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */ /* Center vertically */
    z-index: 10;
  }

.main-image {
  z-index: 10;
}

.text-container {
  position: relative;
  top: 424px;
  z-index: 30;
}

.text-content {
  padding: 1rem;
  text-align: center;
}



.rectangle {
    width: 475px; /* Set the width */
    height: 350px; /* Set the height */
    background-color: var(--light-white); /* Set the background color */ /* Optional: add a border */
    border-radius: 0px; /* Optional: add rounded corners */
  }