@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-dark: #84191E; /* Same in both modes */
  --red-bright: #A81E25;
  --dark-white: #F4EFE8;
  --light-white:#F8F7F1;
  --dark-blue:#144C80; /* different new blue*/
  overflow-x: hidden;
}

.dark {
  --red-bright: #0C3A66; /* dark-blue replaces red-bright */
  --red-dark: #0C3A66;
  --dark-white: #F8F7F1; /* light-white replaces dark-white */
  --light-white: #F4EFE8;
  --dark-blue: #84191E;
}

.footer-spacer {
    height: 50vh; /* 50% of the screen height */
    display: block;
    width: 100%;
  }
.small-break { 
    display: block; 
    margin-top: 0.5em; /* Adjust this value for the desired space */
  }

/* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Optional: For Firefox */
body {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}


body {
  color: var(--foreground);
  background: var(--dark-white);
  font-family: Arial, Helvetica, sans-serif;
}



.top-120 {
  top: 26rem /* 384px */;
}

.w-500{
  width: 500px
}
.h-500{
  height: 600px
}

/* Set fill color using CSS */
.svg-fill-tertiary {
  fill: var(--dark-white);
}

.svg-fill-secondary {
  fill: var(--red-bright);
}

.svg-fill-primary {
  fill: var(--dark-white);
}

.circle-clipped {
  fill: var(--dark-white);
}



.svg-stroke-primary {
  stroke: var(--red-bright); /* Primary color for stroke */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
}

/* Default styles for the square */
.svg-fill-primary-square {
  fill: var(--dark-blue); /* Default light mode fill */
  stroke: var(--dark-white); /* Default light mode stroke */
  stroke-width: 1; /* Stroke width */
  transition: all 0.3s ease; /* Smooth transition */
}


.profile-responsive-image {
  position: absolute;
  z-index: 50;
  top: 0;
  height: auto;
}
/* Small screens (max-width: 640px) */
@media (max-width: 640px) {
  .profile-responsive-image {
    width: 132px;
    top: 0px;
    right: 2.5rem;
  }
}
/* Medium screens (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .profile-responsive-image {
    width: 250px;
    top: -30px;
    right:5rem;
  }
}
/* Large screens (1025px and up) */
@media (min-width: 1025px) {
  .profile-responsive-image {
    width: 400px;
    top: 0px;
    right: 11rem;
  }
}

/* Default styles */
.blue-ribbon {
  position: absolute;
  z-index: 30;
  height: auto;
}
/* Small screens (max-width: 640px) */
@media (max-width: 640px) {
  .blue-ribbon {
    top: 2.2rem; /* Equivalent to sm:-top-12 */
    left: 12px; /* Equivalent to sm:-left-32 */
    width: 220px; /* Equivalent to sm:w-2/3 */
  }
}
/* Medium screens (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .blue-ribbon {
    top: 1rem; /* Adjust for medium screens if necessary */
    left: 1rem; /* Adjust for medium screens if necessary */
    width: 55%; /* Example adjustment for medium screens */
  }
}
/* Large screens (1025px and up) */
@media (min-width: 1025px) {
  .blue-ribbon {
    top: -1.25rem; /* Equivalent to lg:-top-5 */
    left: 6rem; /* Equivalent to lg:left-24 */
    width: 50%; /* Equivalent to lg:w-1/2 */
  }
}



/* Default styles */
.logo-image {
  position: absolute;
  height: auto;
}
/* Small screens (max-width: 640px) */
@media (max-width: 640px) {
  .logo-image {
    top: 7rem; /* sm:-top-12 */
    left: 72px; /* Default left, no specific sm:left value provided */
    width: 4rem; /* sm:w-52 */
  }
}
/* Medium screens (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .logo-image {
    top: 10.5rem; /* Adjust for medium screens if necessary */
    left: 9rem; /* Adjust for medium screens if necessary */
    width: 7rem; /* Example adjustment for medium screens */
  }
}
/* Large screens (1025px and up) */
@media (min-width: 1025px) {
  .logo-image {
    top: 16rem; /* lg:top-64 */
    left: 20rem; /* lg:left-80 */
    width: 12rem; /* lg:w-48 */
  }
}


@media (max-width: 640px) {
  .hero-section {
     height: 300px; /* sm:w-52 */
  }
}
/* Medium screens (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .hero-section {
    height:360px}
}
/* Large screens (1025px and up) */
@media (min-width: 1025px) {
  .hero-section {
    height: 600px;
  }
}




/* Default styles */
.andrea-text {
  font-size: 1.25rem; /* text-xl */
  position: relative;
  color: var(--red-dark); /* Replace with the appropriate color variable */
}

.larioza-text {
  font-size: 1.25rem; /* text-xl */
  position: relative;
  color: var(--red-dark);
}

.description-text {
  font-size: 1.25rem; /* text-xl */
  position: relative;
  color: var(--red-dark);
}

/* Small screens (max-width: 640px) */
@media (max-width: 640px) {
  .andrea-text {
    font-size: 1.5rem; /* sm:text-5xl */
    top: 2.9rem; /* sm:top-24 */
    left: -50px; /* sm:left-16 */
  }

  .larioza-text {
    font-size: 1.5rem; /* sm:text-5xl */
    top: 2.2rem; /* sm:top-24 */
    left: -36px; /* sm:left-16 */
  }

  .description-text {
    font-size: 0.5rem; /* sm:text-l */
    top: 2rem; /* sm:top-24 */
    left: -38px; /* sm:left-0 */
    line-height: 1;
  }
}

/* medium screens (max-width: 640px) */
@media (min-width: 641px) and (max-width: 1024px){
  .andrea-text {
    font-size: 3rem; /* sm:text-5xl */
    top: 4rem; /* sm:top-24 */
    left: 3rem; /* sm:left-16 */
  }

  .larioza-text {
    font-size: 3rem; /* sm:text-5xl */
    top: 3rem; /* sm:top-24 */
    left: 5rem; /* sm:left-16 */
  }

  .description-text {
    font-size: 14px; /* sm:text-l */
    top: 2.5rem; /* sm:top-24 */
    left: 4.5rem; /* sm:left-0 */
    line-height: 16px;
  }
}

/* Large screens (1025px and up) */
@media (min-width: 1025px) {
  .andrea-text {
    font-size: 4.5rem; /* lg:text-7xl */
    top: 9rem; /* lg:top-40 */
    left: 16rem; /* lg:left-64 */
  }

  .larioza-text {
    font-size: 4.5rem; /* lg:text-7xl */
    top: 7rem; /* lg:top-40 */
    left: 20rem; /* lg:left-64 */
  }

  .description-text {
    font-size: 1.5rem; /* lg:text-2xl */
    top: 7rem; /* lg:top-44 */
    left: 20rem; /* lg:left-64 */
    line-height: 2rem;
  }
}


.tiktok-icon,
.instagram-icon,
.mail-icon,
.github-icon {
  display: block;
  width: 40px;  /* Default size */
  height: 40px;
  z-index: 50;
}



@media (max-width: 640px) {
  .tiktok-icon,
  .instagram-icon,
  .mail-icon,
  .github-icon {
    width: 16px;  /* Medium screen size */
    height: auto;
    z-index: 50;
  }
.icons-container{
  margin-top: 36px;
  margin-left: -40px;
  gap: 4px;
}
}



@media (min-width: 641px) and (max-width: 1024px){
  .tiktok-icon,
  .instagram-icon,
  .mail-icon,
  .github-icon {
    width: 28px;  /* Medium screen size */
    height: auto;
    z-index: 50;
  }
  .icons-container{
    margin-top: 3rem;
    margin-left: 6rem;
  
  }
}

@media (min-width: 1024px) {
  .tiktok-icon,
  .instagram-icon,
  .mail-icon,
  .github-icon {
    width: 44px;  /* Medium screen size */
    height: auto;
    z-index: 50;
  }
  .icons-container{
    margin-top: 7.5rem;
    margin-left: 20rem;
  
  }
}

