@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-dark: #84191E; /* Same in both modes */
  --red-bright: #A81E25;
  --dark-white: #F4EFE8;
  --light-white:#F8F7F1;
  --dark-blue:#144C80; /* different new blue*/
  overflow-x: hidden;
}

.dark {
  --red-bright: #0C3A66; /* dark-blue replaces red-bright */
  --red-dark: #0C3A66;
  --dark-white: #F8F7F1; /* light-white replaces dark-white */
  --light-white: #F4EFE8;
  --dark-blue: #84191E;
}



/* For Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Optional: For Firefox */
body {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}


body {
  color: var(--foreground);
  background: var(--dark-white);
  font-family: Arial, Helvetica, sans-serif;
}

.rectangle {
  width: 475px; /* Set the width */
  height: 350px; /* Set the height */
  background-color: var(--light-white); /* Set the background color */ /* Optional: add a border */
  border-radius: 0px; /* Optional: add rounded corners */
}


.top-120 {
  top: 26rem /* 384px */;
}

.w-500{
  width: 500px
}
.h-500{
  height: 600px
}

/* Set fill color using CSS */
.svg-fill-tertiary {
  fill: var(--dark-white);
}

.svg-fill-secondary {
  fill: var(--red-bright);
}

.svg-fill-primary {
  fill: var(--dark-white);
}

.circle-clipped {
  fill: var(--dark-white);
}



.svg-stroke-primary {
  stroke: var(--red-bright); /* Primary color for stroke */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
}

/* Default styles for the square */
.svg-fill-primary-square {
  fill: var(--dark-blue); /* Default light mode fill */
  stroke: var(--dark-white); /* Default light mode stroke */
  stroke-width: 1; /* Stroke width */
  transition: all 0.3s ease; /* Smooth transition */
}

